body {
    margin: 0;
    height: 100vh;
    background-image: url("./assests/images/space-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Space Mono', monospace;
}

form {
    text-align: center;
    /* display: block; */
    margin-top: 20px;
}
form input {
    width: 50px;
    text-align: right;
}

.heading {
    color: white;
    width: 50%;
    padding: 20px;
    margin: auto;
    text-align: center;
}

.logo {
    width: 30%;
    margin-left: 35%;
    height: 100px;
    margin-top: 10px;

}

.square {
    margin-top: 180px;
    position: relative;
    top: 50px;
    height: 550px;
    width: 550px;
    margin: auto;
    background-image: url("./assests/images/portalcopy.png");
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    animation-duration: 50s;
    animation-name: spin;
    /* border: solid 3px white; */
}

.cardbox {
    position: relative;
    top: -520px;
    width: 320px;
    margin-top: 20px;
    margin: auto;
    border: solid 3px rgb(38, 38, 38);
    border-radius: 10px;
    background-image: linear-gradient(-45deg, rgb(255, 255, 166), white, rgb(128, 128, 128));

    animation-duration: 2.5s;
    animation-name: bounceIn;
    box-shadow: 2px 2px 2px rgb(171, 145, 1);
    z-index: 1;

}

.cardbox {
    text-align: center;
}

.cardbox img {
    margin-top: 10px;
    border-radius: 5px;
    border: double 1px rgb(18, 11, 11);
    box-shadow:2px 2px 1px rgb(211, 177, 39);
}
.cardbox h2 {
    margin: 5px;
    /* text-align: center; */
    color: rgb(213, 0, 0);
    text-shadow: 1px 1px black;
}
.cardbox p {
    /* display: inline; */
    margin: 10px;
    padding: 0px;
}
.cardbox span {
    font-weight: bold;
    color: rgb(17, 17, 152);
    /* text-shadow: 1px 1px black; */
}

.cardbox em {
    font-weight: bold;
    color: rgb(255, 111, 0);
}
.cardbox hr {
    width: 50%;
}
/* 
.cardbox.slide-up {
    height: 200px;
    overflow: hidden;

} */

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

